// parameter
$color-blue: RGBA(49, 152, 255, 1.00);
$color-cyan: RGBA(0, 203, 194, 1.00);
$color-green: RGBA(53, 193, 68, 1.00);
$color-dark: RGBA(83, 92, 100, 1.00);
$color-brown: RGBA(149, 85, 0, 1.00);
$color-gray: RGBA(239, 240, 244, 1.00);
$color-border: RGBA(175, 175, 175, 0.9);
$color-background: RGBA(245, 245, 249, 1.00);
$color-quality-white: RGBA(0, 0, 0, 1.00);
$color-quality-green: RGBA(9, 240, 28, 1.00);
$color-quality-orange: RGBA(198, 88, 0, 1.00);

$navbar-height: 30px;
$tabbar-height: 60px;

// inherit
%common {
  box-sizing: border-box;
  // font-size: 12px;
  // line-height: 12px;
  transition: all .1s ease;
}
%center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
%center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// animation

// bone
html {
  height: 100%;
}
body {
  @extend %common;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
#app {
  @extend %common;
  font-family: 'Microsoft YaHei', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: $color-background;
  .bone {
    @extend %common;
    height: 100%;
  }
  .navbar {
    @extend %common;
    position: fixed;
    z-index: 1000;
    top: 0;
    height: $navbar-height;
    line-height: 30px;
    width: 100%;
    overflow: hidden;
    padding: 0 1em;
    background-color: $color-background;
    border-bottom: solid 1px $color-border;
    box-shadow: 0 1px 38px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  }
  .module {
    @extend %common;
    position: relative;
    width: 100%;
    margin-top: $navbar-height;
    height: calc(100% - #{$navbar-height} - #{$tabbar-height});
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .am-tab-bar {
    @extend %common;
    position: fixed;
    bottom: 0;
    height: $tabbar-height;
    width: 100%;
    overflow: hidden;
    // border-top: solid 1px RGBA(208, 208, 208, 1.00);
    border-top: solid 1px $color-border;
    .am-tabs,.am-tabs-tab-bar-wrap, {
      height: 100%;
    }
    .am-tabs-content-wrap {
      display: none;
    }
    .am-tab-bar-bar {
      display: flex;
      flex-direction: row;
      height: 100%;
      .am-tab-bar-tab {
        @extend %center-column;
        width: 25%;
        .am-tab-bar-tab-icon {
          line-height: 1;
          .iconfont {
            font-size: 25px;
          }
        }
        .am-tab-bar-tab-title {
          margin: 0;
          font-size: 12px;
        }
      }
    }
  }
}

// component
.room {
  .title {
    font-size: 1.7em;
    margin-bottom: 7px;
  }
  .subtitle {
    color: gray;
    font-size: 0.9em;
  }
  .white {
    // box-shadow: 0px 0px 2px $color-quality-white;
    .title {
      color: gray;
    }
    .iconfont {
      color: gray;
    }
  }
  .green {
    // box-shadow: 0px 0px 10px $color-quality-green;
    .title {
      color: $color-quality-green;
    }
    .iconfont {
      color: $color-quality-green;
    }
  }
  .orange {
    // box-shadow: 0px 0px 10px $color-quality-orange;
    .title {
      color: $color-quality-orange;
    }
    .iconfont {
      color: $color-quality-orange;
    }
  }
  .card {
    box-sizing: border-box;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .header {
      box-sizing: border-box;
      height: 30px;
      line-height: 30px;
      border-bottom: solid 1px $color-gray;
      .iconfont {
        font-size: 20px;
      }
      .title {
        font-size: 20px;
        margin-left: 5px;
      }
      .percent {
        float: right;
      }
    }
    .content {
      padding: 5px;
      .description {
        padding-left: 3px;
      }
    }
    .footer {
      height: 25px;
      line-height: 25px;
      font-size: 12px;
      .iconfont {
        font-size: 12px;
      }
    }
  }
}
.account {
  .background {
    @extend %center-column;
    background-image: url('../pic/bg_trans2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 120px;
    color: white;
    .logo {
      @extend %center-row;
      border: solid 3px white;
      border-radius: 100px;
      width: 50px;
      height: 50px;
      i.iconfont {
        font-size: 45px;
      }
    }
    .title {
      margin-top: 5px;
      font-size: 18px;
    }
  }
}

// antd reconstructor
.am-list-thumb {
  i.iconfont {
    font-size: 28px;
  }
}
